@{
    ViewBag.Title = "Index 1";
}


<div id="computadoras-grid" class="navigation-page">
    <div class="block full">
        <div class="block-title">
            <h2>Listado de PC's (con RAM >= 8Gb)</h2>
            <p>Los Id de las PC estan formados por los Id de sus componentes (disco-procesador-memoria)</p>
            <br />
        </div>
        <div class="table-responsive">
            <table id="computadoras-datatable" class="table table-striped table-bordered table-condensed table-vcenter">
                <thead>
                    <tr>
                        <th>PC (ID)</th>
                        <th>Disco (tipo)</th>
                        <th>Disco (marca)</th>
                        <th>Disco (capacidad)</th>
                        <th>Procesador (modelo)</th>
                        <th>Memoria (marca)</th>
                        <th>Memoria (capacidad)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


@section scripts {

    <!-- Load and execute javascript code used only in this page -->
    <script src="~/Scripts/Home/Home.js"></script>
    <script>
        $(document).ready(function() {
            UiHome.init();
        });
    </script>

}